<main>
  <div class="container">
    <div class="row">

      {{#each products}}

        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="card">
            <img
              src="img/{{image}}"
              alt="rock band t-shirt"
              class="img-aspect-ratio"
            />
            <div class="description">
              <p>{{name}}</p>
              <p>${{price}}</p>
            </div>
            <a href="/update/{{id}}" class="btn btn-warning">Update</a>
            <a href="/remove/{{id}}&{{image}}" class="btn btn-danger">Remove</a>
          </div>
        </div>

      {{/each}}

    </div>
  </div>
</main>